[submodule ".registry"]
	path = .registry
	url = https://github.com/hivtools/hivtools.r-universe.dev
	branch = HEAD
[submodule "leapfrog"]
	path = leapfrog
	url = https://github.com/hivtools/leapfrog
	branch = main
	subdir = leapfrogr
[submodule "pjnz"]
	path = pjnz
	url = https://github.com/hivtools/pjnz
	branch = main
